{{project}}
<h3>Add a new project</h3>
<form action="/addProject" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="input-field col s6">
			<input id="title" type="text" name="title" ng-model="project.title" required></input>
			<label for="title">Title</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<textarea rows="4" class="materialize-textarea" id="description" name="description" ng-model="project.description" required></textarea>
			<label for="description">Description</label>
		</div>
	</div>
	<div class="file-field input-field">
		<div class="btn">
			<i class="material-icons">add_a_photo</i>
			<input type="file" name="file">
		</div>
		<div class="file-path-wrapper">
			<input class="file-path" type="text">
		</div>
	</div>
	<div class="row center-align">
		<button class="waves-effect waves-orange btn-large" type="submit" ng-click="addProject()">
			Add this project
		</button>
	</div>
	<!-- <a type="submit" class="btn btn-primary" value="Ajouter" ng-click="addProject()"> -->
</form>
