<!-- {{user}} -->
<div class="row login">
	<form ng-submit=logIn() class="col s4 offset-s4">
		<div class="input-field">
			<i class="material-icons prefix">supervisor_account</i>
			<input id="name" type="text" ng-model="user.name"></input>
			<label for="name">Name</label>
		</div>
		<div class="input-field">
			<i class="material-icons prefix">vpn_key</i>
			<input id="password" type="text" ng-model="user.password"></input>
			<label for="password">Password</label>
		</div>
		<div class="center-align">
			<button class="waves-effect waves-orange btn-flat" type="submit">
				Log in
			</button>
		</div>
	</form>
</div>