<!-- {{projects}} -->
<h3>Projects :</h3>
<div ng-if="!projects.length" class="text-center">Bou il a même pas de projet !</div>

<div class="collection">
	<a class="collection-item avatar hoverable" ng-repeat="project in projects" ui-sref="project({id: $index })">
		<img ng-if="project.image" ng-src="images/{{project.image}}" alt="" class="circle">
		<span class="title">{{project.title}}</span>
		<p class="truncate">{{project.description}}</p>
	</a>
</div>
<div class="center-align">
	<a ui-sref="addProject" class="btn-floating" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">
		<i class="material-icons">add</i>
	</a>
</div>
