<!-- {{project}} -->
<h3>Edit project</h3>
<div class="col s12 m6">
	<form action="{{projectUrl}}" method="POST" enctype="multipart/form-data">
		<div class="input-field">
			<input id="title" type="text" name="title" ng-model="project.title" required></input>
			<label class="active" for="title">Title</label>
		</div>
		<div class="input-field">
			<textarea rows="4" class="materialize-textarea" id="description" name="description" ng-model="project.description" required></textarea>
			<label class="active" for="description">Description</label>
		</div>
		<div class="file-field input-field">
			<div class="btn">
				<span ng-if="project.image">Changer l'image</span>
				<span ng-if="!project.image">Ajouter une image</span>
				<input type="file">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
		<input type="submit" class="btn-large" value="Enregistrer"></input>
		<div class="fixed-action-btn">
			<a ng-click="removeProject()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
		</div>
	</form>
</div>
<div class="col s12 m6">
	<img ng-src="images/{{project.image}}" class="hoverable responsive-img">
</div>
