@import '../variables';

body {
	font: 100% $font-base;
	// background-color: $grey-60;

	.login {
		form {
			// color: $orange-base; 
			margin-top: 200px;
		}
	}
}

.toast-alert {
	background-color: red;
}

// .btn-flat {
// 	&:focus {
// background-color: transparent;
// 	}
// }