<div class="row">
	<div class="col-xs-12">
		{{projects}}
		<h2>Projets :</h2>
	</div>
</div>
<div class="row" class="list-group">
	<div ng-repeat="project in projects">
		<div class="col-xs-12">
			<a ui-sref="project({id: {{$index}} })" class="list-group-item">
				<span>{{project.title}}</span>
				<span class="pull-right">{{project.description}}</span>
			</a>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-12">
		<a ui-sref="addProject">
			<button class="btn btn-success">+</button>
		</a>
	</div>
</div>