<!DOCTYPE html>
<html ng-app='index'>
<head>
	<title>The website !</title>

	<!-- Styles -->
	<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.min.css' />
	<link rel='stylesheet' href='style/style.css' />
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:b:i:r" rel="stylesheet">

	<!-- JS librairies -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- JS files -->
	<script src="index/index.js"></script>
</head>
<body class="index">
	<nav class="navbar navbar-default" ng-controller="navCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">The website !</a>
			</div>				
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
</body>
</html>
