<!DOCTYPE html>
<html ng-app='office'>
<head>
	<title>Back Office</title>

	<!--Mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<!-- JS librairies -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- JS files -->
	<script src="office/office.js"></script>
	
	<!-- Style -->
	<link type="text/css" rel='stylesheet' href='bower_components/materialize/css/materialize.css' media="screen,projection" />
	<link href='bower_components/font-awesome/css/font-awesome.min.css' />
	<link rel='stylesheet' href='style/office/office.css' />
	
	<!-- Icons -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div ng-controller="navCtrl">
		<nav ng-if="isloggedIn()">
			<div class="nav-wrapper">				
				<a class="brand-logo" href="#">Back Office</a>
				<ul id="nav-mobile" class="right">
					<li>
						<a ng-click="logOut()"><i class="material-icons">power_settings_new</i></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
</body>
</html>
